<!DOCTYPE html>

<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />

        {% endblock head %}
</head>

<body id="index" class="home">
        <header id="banner" id="body">        
            <h1 id='siteName'><a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a></h1>			  
        </header><!-- /#banner -->

        <nav id='navbar'>
        	<ul class='inline-list' div='navElements'>
        	   <li ><a href="{{ SITEURL }}/index.html">category</a></li>
        	   <li ><a href="{{ SITEURL }}/index.html">tags</a></li>
        	   <li ><a href="{{ SITEURL }}/index.html">rss</a></li>
               <li ><a id='github' href="https://github.com/">Github</a></li>
               <li ><a id='twitter' href="https://twitter.com/">Twitter</a></li>   
            </ul>	
        </nav>
        <ul class='block-list'>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav><!-- /#menu -->
        {% block content %}
        {% endblock %}

        <div id='Test'>
        </div>

        <footer id="contentinfo" class="body">
                
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                using flat-foundation <a href="https://github.com/Trux/Flat-foundation">theme</a>.
                
        </footer><!-- /#contentinfo -->
</body>
</html>
